<div>
  <h1>{{ lannister.house }}</h1>
  <ul>
    <li><h2>{{ lannister.parents.first_parents }}</h2></li>
    <li>{{ lannister.child.first_child }}</li>
    <li>{{ lannister.child.second_child }}</li>
    <li>{{ lannister.child.third_child }}</li>
    <li><h2>{{ lannister.parents.second_parents }}</h2></li>
    <li>{{ lannister.child.fourth_child }}</li>
  </ul>
</div>

<div>
  <h1>{{ targaryen.house }}</h1>
  <ul>
    <li><h2>{{ targaryen.parents }}</h2></li>
    <li>{{ targaryen.child.first_child }}</li>
    <li>{{ targaryen.child.second_child }}</li>
    <li>{{ targaryen.child.third_child }}</li>
  </ul>
</div>

<div>
  <h1>{{ stark.house }}</h1>
  <ul>
    <li><h2>{{ stark.parents }}</h2></li>
    <li>{{ stark.child.first_child }}</li>
    <li>{{ stark.child.second_child }}</li>
    <li>{{ stark.child.third_child }}</li>
    <li>{{ stark.child.fourth_child }}</li>
    <li>{{ stark.child.fifth_child }}</li>
  </ul>
</div>